<div class="container" ng-controller="TicketsController">
    <div class="row">
        <div class="col col-xs-12">
            <table class="table table-hover">
                <thead>
                <th ng-click="reorder('title')" class="col-xs-2"> <i class="fa fa-sort"></i>&nbsp; Title</th>
                <th ng-click="reorder('description')"><i class="fa fa-sort"></i>&nbsp;Description</th>
                <th ng-click="reorder('price')"><i class="fa fa-sort"></i>&nbsp;Price</th>
                <th ng-click="reorder('type')"><i class="fa fa-sort"></i>&nbsp;type</th>
                </thead>

                <tbody>
                <tr ng-repeat="ticket in ticketsList | orderBy:sortingField:desc">
                    <td><a href="{{ticket.auctionUrl}}">{{ticket.title}}</a></td>
                    <td>{{ticket.description}}</td>
                    <td>{{ticket.price}}</td>
                    <td>{{ticket.type}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>