<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#" ng-click="type='music'">Music</a></li>
        <li><a data-toggle="tab" href="#" ng-click="type='sport'">Sport</a></li>
        <li class="navbar-right calendar-btn"><a data-toggle="tab" href="#" ng-click="type='calender'"><i class="glyphicon glyphicon-calendar"> </i> Calendar</a></li>
    </ul>

    <div class="tab-content">
        <div class="row">
            <div class="col col-xs-12">
                <div class="panel">
                    <div class="panel-body" ng-show="!isLoaded">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                Loading data...
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" ng-show="isLoaded && type=='music'">
                        <table class="table table-hover">
                            <thead>
                                <th ng-click="reorder('title', 'music')" class="col-xs-2"> <i class="fa fa-sort"></i>&nbsp; Music events</th>
                                <th ng-click="reorder('description', 'music')"><i class="fa fa-sort"></i>&nbsp;Description</th>
                                <th ng-click="reorder('price', 'music')" class="col-xs-1"><i class="fa fa-sort"></i>&nbsp;Price</th>
                                <th></th>
                            </thead>

                            <tbody>
                            <tr ng-repeat="ticketMusic in ticketsList | filter: {type: 'music'} | orderBy:sortingField:desc"
                                ng-click="excerpt = !excerpt;">
                                <td><a href="{{ticketMusic.auctionUrl}}">{{ticketMusic.title}}</a></td>
                                <td ng-if="!excerpt">{{ticketMusic.description | limitTo : 250 : 0}}...</td>
                                <td ng-if="excerpt">{{ticketMusic.description}}</td>
                                <td>{{ticketMusic.price}}</td>

                                <td ng-if="$state.includes('overview')">
                                    <a type="button" id="favorites" class="btn btn-default btn-sm"
                                       data-toggle="tooltip" data-placement="bottom" title="Observe" tooltip
                                            ng-click="addToFavorites()">
                                        <i class="glyphicon glyphicon-heart"></i>
                                    </a>
                                </td>

                                <td ng-if="$state.includes('favorites')">
                                    <a type="button" id="favorites" class="btn btn-default btn-sm"
                                       data-toggle="tooltip" data-placement="bottom" title="Stop observing" tooltip
                                            ng-click="removeFromFavorites()">
                                        <i class="glyphicon glyphicon-heart"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="panel-body" ng-show="isLoaded && type=='sport'">
                        <table class="table table-hover">
                            <thead>
                                <th ng-click="reorder('title', 'sport')" class="col-xs-2"> <i class="fa fa-sort"></i>&nbsp; Sports events</th>
                                <th ng-click="reorder('description', 'sport')"><i class="fa fa-sort"></i>&nbsp;Description</th>
                                <th ng-click="reorder('price', 'sport')" class="col-xs-1"><i class="fa fa-sort"></i>&nbsp;Price</th>
                            </thead>

                            <tbody>
                            <tr ng-repeat="ticketSport in ticketsList | filter: {type: 'sport'} | orderBy:sortingSportField:sportDesc"
                                ng-click="excerpt = !excerpt; ">
                                <td><a href="{{ticketSport.auctionUrl}}">{{ticketSport.title}}</a></td>
                                <td ng-if="!excerpt; ">{{ticketSport.description  | limitTo : 250 : 0}}...</td>
                                <td ng-if="excerpt">{{ticketMusic.description}}</td>
                                <td>{{ticketSport.price}}</td>

                                <td ng-if="$state.includes('overview')">
                                    <a type="button" id="favorites" class="btn btn-default btn-sm"
                                       data-toggle="tooltip" data-placement="bottom" title="Observe" tooltip
                                            ng-click="addToFavorites()">
                                        <i class="glyphicon glyphicon-heart"></i>
                                    </a>
                                </td>

                                <td ng-if="$state.includes('favorites')">
                                    <a type="button" id="favorites" class="btn btn-default btn-sm"
                                       data-toggle="tooltip" data-placement="bottom" title="Stop observing" tooltip
                                            ng-click="removeFromFavorites()">
                                        <i class="glyphicon glyphicon-heart"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="panel-body" ng-show="isLoaded && type=='calender'">
                        A tu pawłowy kalendarz ;)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
