<!DOCTYPE html>
<html lang="en" ng-app="tickets">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!--Styles-->
    <link rel="stylesheet" type="text/css" href="style/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--Scripts-->
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <!--App Module-->
    <script type="text/javascript" src="app.js"></script>

</head>
<body>

    <div class="container" ng-controller="TickietsController">
        <div class="row">
            <div class="col col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <th ng-click="reorder('title')"> <i class="fa fa-sort"></i>&nbsp; Title</th>
                        <th ng-click="reorder('description')"><i class="fa fa-sort"></i>&nbsp;Description</th>
                        <th ng-click="reorder('price')"><i class="fa fa-sort"></i>&nbsp;Price</th>
                        <th ng-click="reorder('type')"><i class="fa fa-sort"></i>&nbsp;type</th>
                    </thead>

                    <tbody>
                        <tr ng-repeat="ticket in tickietsList | orderBy:sortingField:desc">
                            <td><a href="{{ticket.auctionUrl}}">{{ticket.title}}</a></td>
                            <td>{{ticket.description}}</td>
                            <td>{{ticket.price}}</td>
                            <td>{{ticket.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--(\\u003C){1}([a-z]+)(\\u003E){1}-->
    <!--(\\u003C)[a-z]*(\\u003E)-->
    <!--(\\u003C)((\/?\w+\s+[^>]*)|[a-z]+)(\\u003E)-->
    <!--(\\u003C)(\/?\w+\s+[^(\\u003E)]*)-->


</body>
</html>