<div class="login-page">
    <div class="img-container">
        <div class="text-center pull-right photo">

        </div>
    </div>

    <div class="form-content">
        <form role="form" class="bottom-75" ng-submit="submit(email, name)">
            <div class="table-form">

                <div class="form-groups">
                <h3>Sign up for newsletter</h3>


                    <div class="form-group">
                        <input type="email" ng-model="email" class="form-control input-lg" id="" placeholder="EMAIL">
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-lg" id="" placeholder="NAME">
                    </div>

                    <h4 ng-if="subscribeMessage">{{subscribeMessage}}</h4>

                <div class="subscribe-buttons">
                <div class="button-container">
                    <button ng-click="submit(email, name)" type="button" class="btn btn-default login"><img src="style/images/arrow.png" alt="">ADD</button>
                </div>

                <div class="button-container">
                    <button ng-click="delete(email)" type="button" class="btn btn-default login2"><img src="style/images/arrow.png" alt="">DELETE</button>
                </div>
                </div>
                </div>
            </div>

        </form>

    </div>
</div>

