.top-menu {
    position: absolute;
    top: 15px;
    right: 20px;
    width:150px;
}
.navbar-static-top {
    border-radius: 4px;
    padding: 0;
    margin: 0;
}
.top-menu .navbar .btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    display: block;
    padding: 14px 17px 11px;
    margin: 0;
    float: left;
    color: #6698CC;
}

.top-menu .navbar .btn:hover {
    color: #456F9C;
}
.top-menu .navbar .btn.active {
    border: none;
    color:#B1B7BE;
    background-color: #f1f1f1;
    margin: 0;
    -moz-box-shadow:    inset 0px 7px 15px #ddd;
    -webkit-box-shadow: inset 0px 7px 15px #ddd;
    box-shadow:         inset 0px 7px 15px #ddd;
}

.sync-btn {
    top:2px;
    left:2px
    -webkit-transition-duration: .6s;
    -moz-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

}
.sync-btn:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

.snap-drawer .snap-menu h3{
    text-align: left;
    padding: 0 20px;
}
.snap-drawer .snap-menu p {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
}
.snap-drawer .sidebar-header .sidebar-img {
    border: none;
}
.snap-drawer .logout-btn:hover {
    background-color: #fff;
}
.snap-drawer .logout-btn {
    color:#888;
    display: block;
    padding: 5px;
    margin: 20px;
    background-color: #eee;
    border: none;
}


.snap-drawer .glyphicon-user {
    font-size: 110px;
    color: rgba(255, 255, 255, .2);
}

.nav-tabs {
    border-bottom: none;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)

    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topleft: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
}
.nav-tabs > li > a {
    border:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border:none;
}
.nav-tabs > li > a:hover {
    border: none;
    color: #fff;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #90A8C1;
}



.table > tbody a{
    color:#444;
}
.table > tbody a:hover{
    color:#111;
    text-decoration: none;
}
.tooltip .tooltip-inner {
    padding: 6px 15px;
    font-size: 16px;
}

.tooltip .tooltip-arrow {
}
.tooltip.right .tooltip-inner {
    margin-left: -1px;
}


.calendar-btn {
    margin-right: -2px;
    font-weight: 600;
}
.nav-tabs .calendar-btn.active a{
    color:#44678B !important;
}
.nav-tabs .calendar-btn.active a:hover{
    color:#5C88B5;
}

/* M O D A L */
.modal-dialog {
    color:#262626;
    font-size: 16px;
}

/* C A L E N D A R*/
simple-calendar .current-month {
    color:#A2A0A5;
    font-weight: bold;
    font-size: 26px;
}

simple-calendar .move-month.prev-month {
    color:#FE7B5F;
    font-size: 26px;
}
simple-calendar .move-month.next-month {
    color:#FE7B5F;
    font-size: 26px;
}
simple-calendar .weekday {
    color:#000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
simple-calendar .day-number {
    color:#000000;

}
simple-calendar .day-number span {
    text-align: center;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    margin: auto;
}
simple-calendar .event .day-number span {
    background-color: #FE7B5F;
    color: white;
}
simple-calendar .day.event {
    background-color: white;
}
simple-calendar .calendar {
    border: none;
}
simple-calendar .day {
    border: none;
}
simple-calendar .events-list {
    background-color: #3E454D;
    color: #6A7682;
    min-height: 300px;
    padding-top: 10px;
}
simple-calendar .events-list ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
simple-calendar h4 {
    color: #FE7B5F;
    text-align: center;
    font-weight: bold;
}
simple-calendar .events-list li {
    padding-top: 10px;
}
simple-calendar .events-list a:hover {
    text-decoration: none;
    font-weight: bold;
}



/* LOGIN */
.login-page .form-content .bottom-75 {
    margin-bottom: 0px;
}

.fb-login {
    color:white;
}